/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .cell {
    position: relative;
    width: 100%;
    height: 10%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: #53735e;

    transition: 0.5s;

    aspect-ratio: 1;
    outline: 50% solid #0009;

    background-size: cover;

    z-index: 500;
    outline-offset: -4px;
  }

  .city {
    outline: 2px solid #95a6f0;
  }

  .abbey {
    outline: 2px solid #96e394;
  }

  .road {
    outline: 2px solid #ead6ab;
  }

  .init {
    background-image: url('src/assets/images/intersection-a.png');
    outline: 2px solid #fff;
  }
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
  .cell {
    position: relative;
    width: 100%;
    height: 10%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: #53735e;

    transition: 0.5s;

    aspect-ratio: 1;
    outline: 50% solid #0009;

    background-size: cover;

    z-index: 500;
    outline-offset: -6px;

    outline-style: none;
    user-select: none;
  }

  .inactive {
    background-color: #77a690;
    cursor: pointer;
  }

  .inactive:hover {
    background-color: rgba(255, 255, 0, 0.4);
    outline: 8px solid whitesmoke;

    outline-style: dashed;
    z-index: 1000;
    outline-offset: 0px;
    background-size: cover;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .active:hover {
    background-color: rgba(255, 126, 0, 0.4);
  }

  .active {
    background-image: url('src/assets/images/city-a.png');

    cursor: pointer;
  }

  .init {
    background-image: url('src/assets/images/roads/road-a.png');
    outline: 5px solid #ead6ab;
  }

  .city {
    outline: 5px solid #f0c195;
  }

  .abbey {
    outline: 5px solid gold;
  }

  .road {
    outline: 5px solid #ead6ab;
  }

  .city-0 {
    background-image: url('../../assets/images/cities/city-a.png');
  }

  .road-0 {
    background-image: url('../../assets/images/roads/road-a.png');
  }

  .abbey-0 {
    background-image: url('../../assets/images/abbeys/abbey-a.png');
  }

  .city-1 {
    background-image: url('../../assets/images/cities/city-b.png');
  }

  .road-1 {
    background-image: url('../../assets/images/roads/road-b.png');
  }

  .abbey-1 {
    background-image: url('../../assets/images/abbeys/abbey-b.png');
  }

  .city-2 {
    background-image: url('../../assets/images/cities/city-c.png');
  }

  .road-2 {
    background-image: url('../../assets/images/roads/road-c.png');
  }

  .abbey-2 {
    background-image: url('../../assets/images/abbeys/abbey-c.png');
  }
}
