/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .cell {
    position: relative;
    width: 100%;
    height: 10%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: #53735e;

    transition: 0.5s;

    aspect-ratio: 1;
    outline: 50% solid #0009;

    background-size: cover;

    z-index: 500;
    outline-offset: -4px;
  }

  .city {
    outline: 2px solid #95a6f0;
  }

  .abbey {
    outline: 2px solid #96e394;
  }

  .road {
    outline: 2px solid #ead6ab;
  }

  .init {
    background-image: url('src/assets/images/intersection-a.png');
    outline: 2px solid #fff;
  }
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
  .cell {
    position: relative;
    width: 100%;
    height: 10%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: #53735e;

    transition: 0.5s;

    aspect-ratio: 1;
    outline: 50% solid #0009;

    background-size: cover;

    z-index: 500;
    outline-offset: -6px;

    outline-style: none;
    user-select: none;
  }

  .inactive {
    background-color: #77a690;
    cursor: pointer;
  }

  .inactive:hover {
    background-color: rgba(255, 255, 0, 0.4);
    outline: 8px solid whitesmoke;

    outline-style: dashed;
    z-index: 1000;
    outline-offset: 0px;
    background-size: cover;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .active:hover {
    background-color: rgba(255, 126, 0, 0.4);
  }

  .active {
    background-image: url('src/assets/images/city-a.png');

    cursor: pointer;
  }

  .init {
    background-image: url('src/assets/images/roads/intersection-a.png');
    outline: 5px solid #ead6ab;
  }

  .city {
    outline: 5px solid #f0c195;
  }

  .abbey {
    outline: 5px solid gold;
  }

  .road {
    outline: 5px solid #ead6ab;
  }

  .city-0 {
    background-image: url('../../assets/images/cities/000-city.png');
  }
  .city-1 {
    background-image: url('../../assets/images/cities/001-city.png');
  }
  .city-2 {
    background-image: url('../../assets/images/cities/002-city.png');
  }
  .city-3 {
    background-image: url('../../assets/images/cities/003-city.png');
  }

  .road-0 {
    background-image: url('../../assets/images/roads/000-four-way.png');
  }
  .road-1 {
    background-image: url('../../assets/images/roads/001-three-way-top.png');
  }
  .road-2 {
    background-image: url('../../assets/images/roads/002-three-way-right.png');
  }
  .road-3 {
    background-image: url('../../assets/images/roads/003-three-way-bottom.png');
  }
  .road-4 {
    background-image: url('../../assets/images/roads/004-three-way-left.png');
  }
  .road-5 {
    background-image: url('../../assets/images/roads/005-corner-top-right.png');
  }
  .road-6 {
    background-image: url('../../assets/images/roads/006-corner-right-bottom.png');
  }
  .road-7 {
    background-image: url('../../assets/images/roads/007-corner-bottom-left.png');
  }
  .road-8 {
    background-image: url('../../assets/images/roads/008-corner-left-top.png');
  }
  .road-9 {
    background-image: url('../../assets/images/roads/009-straight-top-bottom.png');
  }
  .road-10 {
    background-image: url('../../assets/images/roads/010-straight-left-right.png');
  }
  .road-11 {
    background-image: url('../../assets/images/roads/011-generic-road.png');
  }
  .road-12 {
    background-image: url('../../assets/images/roads/012-generic-road.png');
  }
  .road-13 {
    background-image: url('../../assets/images/roads/013-generic-road.png');
  }

  .abbey-0 {
    background-image: url('../../assets/images/abbeys/000-abbey.png');
  }
  .abbey-1 {
    background-image: url('../../assets/images/abbeys/001-abbey.png');
  }
  .abbey-2 {
    background-image: url('../../assets/images/abbeys/002-abbey.png');
  }
}
