.playable-tile {
  width: 100%;
  height: 20%;
  border-radius: 20px;
  background-color: #d9c9b4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  border-style: solid;
  border-width: 10px;
  border-color: #735236;
}

.tile-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}

.tile-card-title {
  color: #b39500;
  text-shadow: 2px 2px #735236;
  font-size: 2vw;
}

.tile-card-description {
  color: #735236;
  font-size: 16px;
  width: 100%;
}

.playable-img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
}

.playable-img-city {
  border-radius: 10%;
  margin: 5%;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/city-a.png');
  background-size: cover;
  cursor: pointer;
}

.playable-img-road {
  border-radius: 10%;
  margin: 5%;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/road-f.png');
  background-size: cover;
  cursor: pointer;
}

.playable-img-abbey {
  border-radius: 10%;
  margin: 5%;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/abbey2-a.png');
  background-size: cover;
  cursor: pointer;
}
