.playable-tile {
  width: 100%;
  height: 18%;
  border-radius: 20px;
  background-color: #d9c9b4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  border-style: solid;
  border-width: 10px;
  border-color: #735236;
  cursor: pointer;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.playable-tile:hover {
  box-shadow: 10px 10px 5px rgba(51, 37, 24, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.selected {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tile-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}

.tile-card-title {
  color: #b39500;
  text-shadow: 2px 2px #735236;
  font-size: 2vw;
  text-align: center;
}

.tile-card-description {
  color: #735236;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.playable-img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
}

.playable-img {
  border-radius: 10%;
  margin: 5%;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-title {
  display: none;
}

.city-0 {
  background-image: url('../../assets/images/city-a.png');
}

.road-0 {
  background-image: url('../../assets/images/road-a.png');
}

.abbey-0 {
  background-image: url('../../assets/images/abbey-a.png');
}

.city-1 {
  background-image: url('../../assets/images/city-b.png');
}

.road-1 {
  background-image: url('../../assets/images/road-b.png');
}

.abbey-1 {
  background-image: url('../../assets/images/abbey-b.png');
}

.city-2 {
  background-image: url('../../assets/images/city-c.png');
}

.road-2 {
  background-image: url('../../assets/images/road-c.png');
}

.abbey-2 {
  background-image: url('../../assets/images/abbey-c.png');
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .playable-tile {
    width: 20%;
    height: 80%;
    border-radius: 20px;
    background-color: #d9c9b4;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    border-style: solid;
    border-width: 5px;
    border-color: #735236;
    cursor: pointer;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }

  .tile-card-info {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
  }

  .playable-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
  }

  .mobile-title {
    display: inline;
    color: white;
    text-shadow: 2px 2px black;
  }
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
  .playable-tile {
    width: 100%;
    height: 18%;
    border-radius: 20px;
    background-color: #d9c9b4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    border-style: solid;
    border-width: 10px;
    border-color: #735236;
    cursor: pointer;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }

  .tile-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
  }

  .playable-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
  }
}
