.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-landing {
  margin: 3%;
  text-align: center;
  padding: 1.5vh;
  font-size: 7vh;
  background-color: #1d2625;
  color: #f2e963;
  text-shadow: 2px 2px #f25e3d;
}

.ui-button {
  margin: 1%;
  width: 20vh;
  height: 5vh;
  border-radius: 20px;
  background-color: #d9c9b4;
  border-style: solid;
  border-width: 10px;
  border-color: #735236;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  font-size: 3vh;
  text-decoration: none;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.ui-button:hover {
  box-shadow: 10px 10px 5px rgba(51, 37, 24, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.instructions {
  width: 20vh;
  height: 5vh;
  border-radius: 20px;
  background-color: #d9c9b4;
}
