.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  padding-bottom: 1.5vh;
}

.titleLanding {
  width: 50%;
  user-select: none;
  text-align: center;
  font-size: 8vw;
  background-image: linear-gradient(
    to right,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.uiButton {
  user-select: none;

  border-radius: 20px;
  background-color: #d9c9b4;
  border-style: solid;
  border-width: 10px;
  border-color: #735236;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.uiButton:hover {
  box-shadow: 10px 10px 5px rgba(51, 37, 24, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.otherButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.mainButton {
  width: 30vh;
  height: 8vh;
  font-size: 4vh;
}

.minorButton {
  margin-left: 2vh;
  margin-right: 2vh;
  width: 12vh;
  height: 5vh;
  font-size: 1.7vh;
}

.instructions {
  width: 20vh;
  height: 5vh;
  border-radius: 20px;
  background-color: #d9c9b4;
}
