.instructionsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructionsContentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin: 1%;
  padding-left: 2%;
  padding-right: 2%;
  width: 40vh;
  height: 60vh;
  border-radius: 20px;
  background-color: #d9c9b4;
  border-style: solid;
  border-width: 10px;
  border-color: #735236;
  cursor: pointer;
  overflow-y: scroll;
}
