:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.App {
  text-align: center;
  height: 100vh;
}

body,
html {
  font-family: 'MedievalSharp';
  background: radial-gradient(ellipse at center, #353b46 0%, #353b46 50%, #000000 100%);
}

p {
  margin: 20px 0px;
}

.header {
  font-size: 3rem;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'MedievalSharp';
  src: local('MedievalSharp-Regular'),
    url('./assets/fonts/MedievalSharp-Regular.ttf') format('truetype');
  font-weight: bold;
}
